.DS_Store
.idea
TapForAll.xcworkspace/xcuserdata/
TapForAll.xcodeproj/xcuserdata/
Pods
Podfile.lock
/DataModel.mwb.bak
*.xcuserdata
/TapForAll.xcodeproj/project.xcworkspace/xcuserdata/amiramirmansoury.xcuserdatad
